*
{
    color: #fefefe;
}
body, html
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.title-tx
{
    text-decoration: none;
}

/*=========================================== button menu======================= */
.btnMenu-page:hover
{

    transition: .3s;
    color: #888;
    cursor: pointer;

}


/*========================================= BreadCrumb content ==========================*/

.BreadCrumb
{
  background: rgb(31, 29, 29);
  padding: .5rem;
}

.breadcrumb-item
{
  font-size: 1.2rem;
}

/*========================================= Topics left ==================================*/

.content-Tech
{
  position: absolute;
  width: 30%;
  border-right: 2px solid #fefefe6c;
  /* height: 81.5%; */
}

.container-topics ul
{
  list-style: none;
  height: 70%;
}
.items-topics
{
  font-size: 1.5rem;
  font-family: monospace, Arial, Helvetica, sans-serif;

  margin-left: -14%;
  text-align: center;
  padding: .7rem;
  transition: .3s;
}
.items-topics:hover
{
  background: linear-gradient(90deg, rgba(83, 81, 81, 0.418), transparent);
}

.items-topics::before
{
  content: '>';
  position: absolute;
  color: #888;
  font-size: 1.4rem;
  font-weight: 900;

  margin-left: -20px;

  display: none;
}
.items-topics:hover::before
{
  display: inline;
}

.items-topics a
{
  text-decoration: none;
  color: #888;
}